.service_box_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    position: absolute;
    top: -70px;
    flex-shrink: 1;
}

.service_box {
    width: 300px;
    padding: 0px 20px;
    height: 120px;
    background-color: #F2F4F8;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service_box p {
    font-size: 18px;
    font-weight: 700;
}

.service_box:hover {
    cursor: pointer;
}

.active {
    background-color: #FFF;
    color: rgb(60, 114, 252);
}

.service_row2 {
    margin-top: 100px;
}

.service_icon {
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background-color: rgba(235, 241, 255, 1);
}

.service_icon img {
    width: 20px;
}

.service_detail {
    width: 250px;
}
@media screen and (min-width:769px) and (max-width:910px) {
    .service_box {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        width: fit-content;
        padding: 0px 10px;
        height: 100px;
    }
    .service_box p{
        word-wrap: break-word !important;
    }
}
@media screen and (max-width:768px) {
    .service_box {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        width: 100px;
        padding: 0px 10px;
        height: 100px;
    }
    .service_box p{
        font-size: 12px;
        word-wrap: break-word !important;
    }
}