.nav-link {
  text-transform: uppercase !important;
  color: #fff !important;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
}

.nav-link:hover {
  cursor: pointer;
  color: #3D6EEA !important;
  font-weight: 600;
  transform: scale(1.1);
  transition: all ease 0.3s;
}

.logo {
  font-weight: 600;
}

.nav-link2 {
  color: #fff !important;
  font-size: 25px;
  margin: 0px 10px;
}

.nav-link3 {
  color: #fff !important;
  font-size: 15px;
}
.custom-toggler{
  color: #fff;
  font-size: 30px;
}
@media screen and (max-width:992px) {
  .hide{
    display: none;
  }
}